//? Default global settings
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

//? Global CSS Variables
$color-primary: orangered;

html {
  box-sizing: border-box;
  font-size: 62.5%; /* Everything is based upon 10px with this. 10px / 16px = .625. With this 1rem will = 10px. */
}

body {
  // background-image: url("https://upload.wikimedia.org/wikipedia/en/thumb/7/72/Anaheim_Ducks.svg/1200px-Anaheim_Ducks.svg.png");
}

.profile__background {
  margin-top: 10rem;
  margin-left: 17%;
  height: 100vh;
  width: 70%;
  background-color: white;
  border: 3px solid orangered;
  z-index: 1;
}

.profile__container {
  position: relative;
  background-color: white;
  margin-left: 25%;
  width: 50%;
  .profile__header {
    color: orangered;
    font-size: 5rem;
    text-align: center;
  }
}

#team {
  background-color: orangered;
}

.profile__button-new {
  background-color: $color-primary;
}

//? New Player Form Styling
.form {
  border: 3px solid orangered;
  width: 30vw;
  height: 75vh;
  margin-left: 33.5%;

  &__heading {
    text-align: center;
    font-size: 5rem;
    font-weight: 600;
  }
  &__name {
    display: flex;
  }

  &__first {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 10rem;
    margin-right: 5rem;
  }

  &__last {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
  }

  &__input {
    border-radius: 3%;
    box-shadow: 5px 5px 5px orangered;
  }
  &__number {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    margin-left: 45%;
  }

  .position__check {
    display: flex;
    flex-direction: column;

    &-heading {
      text-align: center;
      font-style: oblique;
      text-decoration: underline;
    }

    &-selections {
      display: flex;
      justify-content: space-evenly;
      font-size: 1.5rem;
    }
  }
}
